[submodule "CORAL-MAIN"]
	path = CORAL-MAIN
	url = ./CORAL-MAIN
[submodule "auth"]
	path = auth
	url = ./auth
[submodule "licensing"]
	path = licensing
	url = ./licensing
[submodule "management"]
	path = management
	url = ./management
[submodule "organizations"]
	path = organizations
	url = ./organizations
[submodule "reports"]
	path = reports
	url = ./reports
[submodule "resources"]
	path = resources
	url = ./resources
[submodule "terms"]
	path = terms
	url = ./terms
[submodule "usage"]
	path = usage
	url = ./usage
[submodule "CORAL-Main"]
	path = CORAL-Main
	url = ./CORAL-Main
